@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-27 18:44:55
 * @version $Id$
 */
 html body header section footer div ul li img a{
 	margin: 0;
 	padding: 0;
 }
 a{
 	text-decoration: none;
 }
 li{
 	list-style: none;
 }
 html{
 	font-size: 14.4vw;
 	height: 100%}
 body{
 	font:14px "微软雅黑";
 	height: 100%;
 }
 img{
 	border: none;
 	display: block;
 }
 h1,h2,h3,h4,h5,h6{
 	font-weight: normal;
 }
 em,b,strong,i{
 	font-weight: normal;
 	font-style: normal;
 }
 .clear:after{
 	content: "";
 	display: block;
	clear: both;
 }
 .left{
	float: left;
 }
 .right{
	float: right;
 }