@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-27 18:44:55
 * @version $Id$
 */
 *{
 	margin: 0;
 	padding: 0;
 }
 a{
 	text-decoration: none;
 }
 a,a:link{
 	color: #323232;
 }
 li{
 	list-style: none;
 }
 html{
 	width: 100%
 }
 body{
 	font:14px "微软雅黑";
 	width: 100%
 }
 img{
 	border: none;
 	display: block;
 }
 h1,h2,h3,h4,h5,h6{
 	font-weight: normal;
 }
 em,b,strong,i{
 	font-weight: normal;
 	font-style: normal;
 }
 .clear:after{
 	content: "";
 	display: block;
	clear: both;
 }
 .left{
	float: left;
 }
 .right{
	float: right;
 }