@charset "utf-8";
*{margin:0;padding:0}
li{list-style:none}
a{text-decoration:none}
img{border:0; display:block}
body{font:14px "微软雅黑"}
.clear:after{content:"";display:block;clear:both; overflow:hidden;height:0; visibility:hidden}
.left{float:left}
.right{float:right}
i,b,strong,em{font-style:normal;font-weight:normal}

