@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-07-03 15:18:14
 * @version $Id$
 */
 body,div,dl,dd,dt,form,fieldset,input,p,h1,h2,h3,h4,h5,h6{
 	margin:0;
 	padding:0;
 }
 li{
 	list-style:none;
 }
 a{
 	text-decoration:none;
 }
 body{
 	font:14px "微软雅黑";
 }
 .left{
 	float:left;
 }
 .right{
 	float:right;
 }
 .clear:after{
 	content:"";
 	clear:both;
 	display:block;
 	height:0;
 	overflow:hidden; 
 	visibility:hidden;}
 img{
 	border:0; 
 	display:block;
 }
 fieldset{
 	border:0;
 }
 .wrapper{
 	 width: 911px;
 	 margin: 0 auto;	
 }
 .header{
 	width: 100%;
 	background-color: #f03b6e;
 	position: relative;
 }
 .header .wrapper{
 	position: relative;
 }
 .hr_img{
 	position: absolute;
	right: 0;
	top: 0;
 }
 body{
    background: url(../世纪佳缘网/body_bg.jpg); 	
 }
 .logo{
 	padding-left: 60px;
 }
 /*.welcom,.messages,.count{
 	width: 572px;
 	border-bottom: 1px solid #ccc;
 	padding-bottom: 20px;
 }*/
 .content .wrapper{
 	background: url(../世纪佳缘网/main_bg2.jpg)no-repeat bottom,url(../世纪佳缘网/main_bg.jpg)repeat-y;
 }
 .main_top_nav{
	width: 727px;
	margin: 0 auto;
	padding-top: 50px;
 }
 .main_top_nav li{
 	float: left;
 	height: 30px;
 	line-height: 30px;
 	position: relative;
 }
 .main_top_nav li a{
 	padding: 0 20px;
 }
 .main_top_nav li span{
 	display: block;
 	width: 5px;
 	height: 30px;
 	position: absolute;
	top: 0;
	right: 0;
 }
 .main_top_nav li:nth-of-type(1){
 	background: url(../世纪佳缘网/tab_bg2.png);
 	margin: 0 10px 0 66px;
 }
 .main_top_nav li:nth-of-type(1) a{
 	color: #fff;
 }
 .main_top_nav li:nth-of-type(1) span{
 	background: url(../世纪佳缘网/tab_bg2.png)no-repeat right top
 }
 .main_top_nav li:nth-of-type(2){
 	background: url(../世纪佳缘网/tab_bg1.gif);
 }
 .main_top_nav li:nth-of-type(2) a{
 	color: #000;
 }
 .main_top_nav li:nth-of-type(2) span{
 	background: url(../世纪佳缘网/tab_bg1.gif)no-repeat right top
 }































